        body {
            /* Center the content vertically and horizontally */
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Arial, sans-serif;
            background-color: #000000;
        }

        header {
            /* Display the header as a horizontal row */
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px;
            background-color: #000000;
            box-sizing: border-box;
        }

        nav {
            /* Display the navigation menu as a horizontal row */
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;

            /* background-color: #ddd; */
            padding: 10px;
            height: 100%;
            box-sizing: border-box;
        }

        nav a {
            /* Style the links in the navigation menu */
            text-decoration: none;
            color: #d7d2d2;
            padding: 10px;
            margin: 5px;
            display: inline-block;
        }

        nav a:hover {
            /* Style the links when the mouse hovers over them */
            background-color: #4b1290;
        }

        .logo img {
            /* Style the logo */
            height: 100px;
            width: 100px;
        }

        .People {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 50px;
            height: fit-content;

        }

        input[type="search"] {
            /* Style the search bar */
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-left: 2opx;

        }

        br {
            /* Display the <br> element as a white line */
            display: block;
            height: 2px;
            background-color: #fff;
            margin: 10px 0;
        }

        h1,
        p {
            color: #d7d2d2;
        }

        button {
            /* Style the button */
            padding: 10px;
            background-color: #4b1290;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            /* Make the button fill the container horizontally */
            width: 100%;
            max-width: 200px;

            /* Center the button vertically in the container */
            align-self: center;
        }

        button:hover {
            /* Style the button when the mouse hovers over it */
            background-color: #360f6f;
        }

        .card {
            /* Style the card container */
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            width: 330px;
            padding: 20px;
            margin: 40px;
            background-color: #360f6f;
        }

        .dropdown {
            display: inline-block;
        }

        .dropdown .dropdown-content {
            position: absolute;
            display: none;
            background-color: #14042c;
        }

        .dropdown-content a {
            display: block;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        footer {
            background-color: #000000;
            width: 100%;
            display: inline;
        }

        .CopyContainer a,
        .copyright {
            text-decoration: none;
            text-align: center;
            color: #fff;

        }

        footer {
            color: #d7d2d2;
            text-align: center;
        }

        footer a:hover {
            color: #fff;
        }

        .social-media {
            list-style-type: none;
            padding: 0;
            display: flex;
            margin-left: 1.5rem;

        }


        .social-media li {
            margin: 0 5px;
        }

        .fab {
            font-size: 1.5rem;
            transition: color 0.2s ease-in-out;
        }

        .fab:hover {
            color: #361b42;
        }

        .copyright a:hover {
            color: #361b42;
        }